#text_question {
    margin-top: 60px;
  }
  #btn_answer {
    margin-top: 60px;
  }
  #btn_chuyen {
    margin-top: 60px;
  }
  #text_vote {
    margin-top: 60px;
  }
  #question_result_yes {
    padding: 7px 0;
    text-align: center;
    color: #ffffff;
    float: left;
  }
  #question_result_no {
    padding: 7px 0;
    text-align: center;
    color: #ffffff;
    float: left;
  }
  .result_bar {
    border-radius: 4px;
    overflow: hidden;
  }
  .question_result_no {
    background: #d9534f;
  }
  .question_result_yes {
    background: #337ab7;
  }
  .btn_xemcauhoikhac {
    margin-top: 60px;
  }
  